@import '../../../my-styles.scss';

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: $light-black;
  border-radius: 5px;
  padding: 35px;
}

.title {
  font-family: 'Lato';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input::placeholder {
  color: gray;
}

