<div class="centered-container">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-white">
        Lists
      </h1>

      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>List #1</p>
        </a>
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', 'list._id']">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button class="button is-primary" routerLink="/newlist">+ New Lists</button>
    </div>

    <div class="task-lists">
      <h1 class="title has-text-white">
        Tasks
      </h1>

      <div class="task">
        <p>This is a new task</p>
      </div>
      <div class="task is-complete">
        <p>This is a new task</p>
      </div>
      <div class="task">
        <p>This is a new task</p>
      </div>
    </div>
  </div>
</div>
